span {
    font-size: 15vw;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
#container {
    width:60vw;
    height: 55vh;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20%;
}
span {
    color: white;
}
#display {
    display: flex;
    align-items: center;
    justify-content: center;
}
#button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
}
button {
    width: 12vw;
    font-size:2vw;
    padding: 1%;
    background-color: rgb(22, 54, 82);
    color:aliceblue;
    margin-left:2%;
}
button:hover {
    background-color: rgb(252, 174, 6);
}
button:active {
    background-color: darkred;    
}

