span {
font-size: 15vw;
}
#display {
display: flex;
align-items: center;
justify-content: center;
}
#button-container {
display: flex;
align-items: center;
justify-content: center;
margin:auto;
}
button {
width: 12vw;
font-size:2vw;
padding: 1%;
background-color: rgb(22, 54, 82);
color:aliceblue;
margin-left:2%;
}
button:hover {
background-color: black;
}
button:active {
background-color: darkred;    
}

